name: CI/CD to AKS

on:
  push:
    branches: [ "main" ]

env:
  ACR_LOGIN_SERVER: ${{ secrets.ACR_LOGIN_SERVER }}
  AKS_CLUSTER_NAME: ${{ secrets.AKS_CLUSTER_NAME }}
  AZURE_RESOURCE_GROUP: ${{ secrets.AZURE_RESOURCE_GROUP }}

jobs:
  build-and-deploy:
    runs-on: self-hosted

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version: '18'
          cache: 'npm'
          working-directory: app

      - name: Install dependencies
        working-directory: app
        run: npm install

      - name: Run tests
        working-directory: app
        run: npm test

      - name: Log in to Azure
        uses: azure/login@v2
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Log in to ACR
        run: |
          echo "${{ secrets.ACR_PASSWORD }}" | docker login ${{ secrets.ACR_LOGIN_SERVER }} -u ${{ secrets.ACR_USERNAME }} --password-stdin

      - name: Build and push Docker image
        run: |
          IMAGE_TAG=${{ github.sha }}
          docker build -t ${{ secrets.ACR_LOGIN_SERVER }}/fyp-app:latest ./app
          docker tag ${{ secrets.ACR_LOGIN_SERVER }}/fyp-app:latest ${{ secrets.ACR_LOGIN_SERVER }}/fyp-app:${IMAGE_TAG}
          docker push ${{ secrets.ACR_LOGIN_SERVER }}/fyp-app:latest
          docker push ${{ secrets.ACR_LOGIN_SERVER }}/fyp-app:${IMAGE_TAG}

      - name: Set AKS context
        run: |
          az aks get-credentials --resource-group $AZURE_RESOURCE_GROUP --name $AKS_CLUSTER_NAME --overwrite-existing

      - name: Deploy to AKS
        run: |
          kubectl apply -f k8s/
          kubectl rollout status deployment/fyp-app-deployment
